.ConnectWallet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .Connectors {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 360px;
    padding: 48px 32px 56px;
    border-radius: 32px;
    border: 1px solid $green;

    .Buttons {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      p {
        width: 100%;
        margin-bottom: 16px;
        text-align: center;
      }

      button {
        width: 47%;
      }
    }
  }
}
